body {
	
}

div {
	border-radius: 10px;
}

#content {
	width: 98%;
	height: 80%;
	background: lightgrey;
	margin: 1%;
}

img.close-widget {
	width: 10px;
	height: 10px;
	margin: 4px;
	float: right;
	vertical-align: center;
}

img.settings-widget {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px;
	vertical-align: center;
}

.grid-stack-item-bar {
	background-color: #444444;
	color: white;
	height: 20px;
	vertical-align: center;
	border-radius: 10px 10px 0px 0px;
}

.icons {
	float: right;
	height: 18px;
	margin: 1px;
	vertical-align: center;
}

.grid-stack-item-content {
	color: #2c3e50;
	text-align: center;
	background-color: #18bc9c;
}

#grid2 .grid-stack-item-content {
	background-color: #9caabc;
}

.grid-stack-item-removing {
	opacity: 0.5;
}


#main-container {
	width: 100%;
}
.grid-stack {
	width: 100%;
}

.sidebar .grid-stack-item {
	border: 2px dashed green;
	text-align: center;
	line-height: 100px;
	z-index: 10;
	background: rgba(0, 255, 0, 0.1);
	cursor: default;
	display: inline-block;
}

.sidebar .grid-stack-item .grid-stack-item-content {
	background: none;
}
.grid-stack > div.grid-stack-item {
    min-width: 10%;}
.grid-stack > div.grid-stack-item[data-gs-x='1'] {left: 10%;}
.grid-stack > div.grid-stack-item[data-gs-x='2'] {left: 20%;}
.grid-stack > div.grid-stack-item[data-gs-x='3'] {left: 30%;}
.grid-stack > div.grid-stack-item[data-gs-x='4'] {left: 40%;}
.grid-stack > div.grid-stack-item[data-gs-x='5'] {left: 50%;}
.grid-stack > div.grid-stack-item[data-gs-x='6'] {left: 60%;}
.grid-stack > div.grid-stack-item[data-gs-x='7'] {left: 70%;}
.grid-stack > div.grid-stack-item[data-gs-x='8'] {left: 80%;}
.grid-stack > div.grid-stack-item[data-gs-x='9'] {left: 90%;}



.grid-stack > div.grid-stack-item[data-gs-width='1'] {width: 10%;}
.grid-stack > div.grid-stack-item[data-gs-width='2'] {width: 20%;}
.grid-stack > div.grid-stack-item[data-gs-width='3'] {width: 30%;}
.grid-stack > div.grid-stack-item[data-gs-width='4'] {width: 40%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 50%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 60%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 70%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 80%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 90%;}
.grid-stack > div.grid-stack-item[data-gs-width='5'] {width: 100%;}